@import url('bootstrap');

.header-heart:hover{ 
     transform: scale(1.2);
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    align-items: center;
    z-index: 999;
}

.custom-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 10000;
}

.img-comparative-modal {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.heart-active {
    color: aqua;
}

.heart:hover{
    color: aqua;
     transform: scale(1.2);
}

.btn-category {
    border-radius: 20px;
    transition: all 0.2s ease;
    background-color: rgb(155, 122, 15);
    color: white;
}

.btn-category:hover {
    transform: translateY(-1px);
    border-color: black;
}

.header {
  background: linear-gradient(135deg, #005b98, #2196f3);
  padding: 7px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
  height: 80px;
}

.img-dettaglio {
    width: 100%;
    max-width: 600px;
    max-height: 40%;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    object-fit: cover;
}

.hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    margin-top: 80px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    max-width: 800px;
}


.btn-full-island {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px 24px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    background: #00bcd4;
    color: white;
    transition: 0.3s;
}

.btn-full-island:hover {
    background: white;
    transform: scale(1.05);
    color: #00bcd4
}

.bg-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    max-height: 100;
}

.text-button-not-found {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    text-align: center; 
}

.btn-not-found {
    border: none;
    background: #00bcd4;
    color: white;
    border-radius: 10px;
     transition: 0.3s;
     padding: 15px 30px;
    font-size: 1.2rem;
    margin-top: 40px;
}

.btn-not-found:hover {
    background: white;
    transform: scale(1.05);
    color: #00bcd4;
}

.title-not-found {
    color: white;
}

.footer {
  background: linear-gradient(135deg, #005b98, #2196f3);
  padding: 7px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo-footer {
    height: 150px;
}

.input-search {
    border-radius: 10px;
    
}



.main {
    background: url('./img/sabbia.jpg');
    background-size: cover;
    
    min-height: 90vh;

}

.compara-selected {
    background: linear-gradient(135deg, #005b98, #2196f3);
    color: white;
}

.compara-selected:hover {
    background: linear-gradient(135deg, #005b98, #2196f3);
    color: white;
}

.compara-not-selected {
  border: 1px solid #2196f3;
  color: #2196f3;
  background: transparent;
}

.compara-not-selected:hover {
   background: linear-gradient(135deg, #005b98, #2196f3);
  color: white;
}

.btn-back {
    color: linear-gradient(135deg, #005b98, #2196f3);            
    border-radius: 10px;
    transition: 0.3s;
}



.btn-back:hover {
       text-decoration: underline;    
}



.into-focus-button {
   
    padding: 12px 24px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    background: #00bcd4;
    color: white;
    transition: 0.3s;
    display: block;
    margin: 10px auto;
    
}

.into-focus-button:hover {
     background: white;
    transform: scale(1.05);
    color: #00bcd4
}